<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441249982128-dsu0mlpco41huqrl0squstda196087lt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441249982128-dsu0mlpco41huqrl0squstda196087lt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>441249982128-b3mcck4brac8j44klhb3nef4q0p6slkc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDTbys3csUq41mFCmxThrfKq9LiX3x5aaM</string>
	<key>GCM_SENDER_ID</key>
	<string>441249982128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homeBuddy</string>
	<key>PROJECT_ID</key>
	<string>homebuddy-3ab67</string>
	<key>STORAGE_BUCKET</key>
	<string>homebuddy-3ab67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:441249982128:ios:e6198b2718051d762efd75</string>
	<key>DATABASE_URL</key>
	<string>https://homebuddy-3ab67.firebaseio.com</string>
</dict>
</plist>
